body {
  background-color: black;
  text-align: center;
}
p {
  color: white;
  font-family: monospace;
}
h1 {
  font-weight: bold;
  color: white;
  font-family: monospace;
}
h2{
  color: white;
  font-family: monospace;
}
/* a{ 
  color: white;
  font-family: sans-serif;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  margin: 3px;
  border-color: black;
  background-color: purple;
  text-align: left;

}*/
img{
  border-color: black;
  border-style: dashed;
  border-width: 3px;
}